  <div class="col-md-8 offset-md-1">
    <h2>会員一覧</h2>

    <table class='table'>
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @customers.each do |customer| %>
      <tbody>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.name, admin_customer_path(customer.id) %></td>
          <td><%= customer.email %></td>
          <td>
            <% case customer.is_deleted %>
            <% when true then %>
              <p class="text-success">有効</p>
            <% else %>
              <p class="text-secondary">退会</p>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>

